<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="https://media.services.zam.com/v1/media/byName/hs/cards/enus/{{this.carta.id}}.png">
    </div>
    <div class="col-6">

      <b>Nombre: </b>{{this.carta.name}}<br>
      <b>Flavor: </b>{{this.carta.flavor}}<br>
      <b>Artist: </b>{{this.carta.artist}}<br>
      <b>Attack: </b>{{this.carta.attack}}<br>
      <b>Health: </b>{{this.carta.health}}<br>
      <b>Cost: </b>{{this.carta.cost}}<br>
      <b>Set: </b>{{this.carta.set}}<br>
      <b>CardClass: </b>{{this.carta.cardClass}}<br>
      <b>Type: </b>{{this.carta.type}}<br>
      <b>Text: </b>{{this.carta.text}}<br>
    </div>

  </div>
</div>
